
html, body {
    height: 100%;
    margin: 0px;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(90deg, gray, lightgray,gray);
    padding: 10px;
    padding-bottom: 80px;
    text-shadow: 1px 1px 1px lightgray;

}

h1 {
    text-shadow: 5px 5px 4px white;
}

ul {
    text-align: left;
}

p {
    font-size: large;
}

footer {
    font-size: large;
}

button {
    font-size: larger;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20%;
    background-color: white;
}

#colorIndicator {
    border: 2px solid black;
    border-radius: 20%;
    padding: 20px;
}